body {
    font-family: "Noto Serif", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.noto-serif-display-font-family {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
}

label {
    align-content: space-evenly;
    align-items: center;
    text-align: center;
    display: inline-flex;
    margin: auto;
    gap: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#qrContainer, #reader {
    margin-top: 20px;
}

#reader {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
