body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

select, button {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  display: inline-flex;
  align-content: space-evenly;
  align-items: center;
  text-align: justify;
  display: block;
  margin: auto;

}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#qrContainer {
    margin-top: 20px;
}
